#hero{
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: url('image.png');
    background-position: center;
    background-size: cover;
}

#hero h1{
    font-size: 90px;
    color: #fff;
}

.naats{
    margin-top: 3%;
}


.naats h2{
    font-size: 40px;
    color: #F9BEBA;
    margin-bottom: 30px;
}

.audio-section{
    height: 100vh;
    width: 100%;
    padding: 40px 0;
}

.container{
    width: 90%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

audio{
    margin: 20px 0;
    transition: all 0.5s;
}

audio:hover{
    cursor: pointer;
    transform: scale(1.1);
}
audio::-webkit-media-controls-panel{
    background-color: #F9BEBA;
}
audio::-webkit-media-controls-play-button{
    background-color: #fff;
    border-radius: 50%;
}

.col-md-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
}


/* .audio-section p{
    color: #fff;
    background-color: #F9BEBA;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 70%;
} */
