#hero{
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: url('image.png');
    background-position: center;
    background-size: cover;
}

#hero h1{
    font-size: 90px;
    color: #fff;
}

#audio-section{
    height: 100vh;
    width: 100%;
}

#audio-section h2{
    position: relative;
    top: 40px;
    color: #F8BBB8;
}

#naats{
    margin-top: 100px !important;
}
